
/* tag names */
h1 {
  font-size: 100px;
  color: cyan;
  text-align: center;
  font-family: 'Faster One', cursive;
}
h2 {
  font-size: 75px;
  color: orange;
  text-align: center;
  font-family: 'Faster One', cursive;
}
ol,
ul,
li {
  font-size: 40px;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}
p {
  text-align: center;
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  color: green;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
}
table {
  font-size: 40px;
  text-align: left;
}
th,
td {
  border-style: solid none none solid;
}
/* classes */
.invisible {
  opacity: 0;
}
.bt {
  border-style: solid none solid solid;
}
.sidebar {
  box-sizing: content-box;
  height: 300px;
  width: 100%;
  background-color: #3CFF33;
}
.page-title {
  color: blue;

.python-button {
  width: 144px;
  box-sizing: content-box;
  padding: 2px;
  border: 10px red;
  background-color: orange;
}
.htmlCSS-button {
  width: 198px;
  height: 110px;
  box-sizing: content-box;
  padding: 2px;
  border: 10px red;
  background-color: orange;
}
.JavaScript-button {
  width: 210px; 
  box-sizing: content-box;
  padding: 2px;
  border: 10px red;
  background-color: orange;
}
.site-button {
  font-size: 50px;
  text-align: center;
}
.python-button,
.JavaScript-button {
  height: 55px;
}
.code {
  font-family: "Courier New", "Space Mono", monospace;
  font-size: 40px;
}
.prompt {
  color: DarkRed;
  font-family:"Courier New";
}
.keyword {
  color: orange;
  text-decoration: underline;
}
/*classes and tags*/
.sidebar a {
  font-size: 100px;
  color: blue;
}
th.rt,
td.rt {
  border-style: solid solid none solid;
}
h1.index {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: purple;
}
a.index,
p.index,
.site-button {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}
p.index {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: purple;
}
h2.index {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: purple;
}
html.setup {
  background-color: purple;
  background-size: 100%;
}
li.python-heading,
li.htmlCSS-heading,
li.JS-heading {
  font-size: 50px;
  color: brown;
}
li.python-object,
li.htmlCSS-object,
li.JS-object {
  font-size: 30px;
  color: brown;
}
/* IDs */
/* IDs and tags */
/* colons */
a:hover {
  color: red;
}
