.bold {
    font-weight: bold
}
h1 {
    font-weight: bold
}
body {
    background: white;
    color:black;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}
.container {
    background: black;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    width: 950px;
    margin: auto;
    padding: 10px;
}
.sub-container {
    background: grey;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    padding: 0.5px;
}
.headers {
    font-family: 'Faster One', cursive;
}
    
