.bold {
    font-weight: bold
}
h1 {
    font-weight: bold
}
body {
    background: url(/html-background.png);
    background-size: cover;
    color:black;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
}
.container {
    background: black;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    width: 815px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
}
.sub-container,
footer {
    background: grey;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    width: 775px;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}
.headers {
    font-family: 'Faster One', cursive;
}
.h1-8 {
    display: table;
    table-layout: fixed;
}
