/* @imports */
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/* tag names */
body {
	padding: 20px;
	margin-right: 0px;
}
h1 {
  font-size: 100px;
  color: blue;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}
h2 {
  font-size: 75px;
  color: orange;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}
ol,
ul,
li {
  font-size: 40px;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}
p {
  text-align: center;
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif;
}
a {
  color: green;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
}
table {
  font-size: 40px;
  text-align: left;
}
th,
td {
  border-style: solid none none solid;
}
h3 {
	font-size: 30px;
	text-align: center;
}
a img {
	color: black !important;
	font-size: 1rem !important;
}
/* classes */
.invisible {
  display: none;
}
.logo {
 border-radius: 50%;
 width: 100px;
	display: inline-block;
}
sidebar,
.sidebar,
nav {
 	box-sizing: content-box;
	border-radius: 25px;
 	width: 97%;
 	background-color: #3CFF33;
 	position: fixed;
 	z-index: 1;
	text-align: center !important;
	padding: 20px;
	top: 127px;
}
.page-title {
  color: blue;
}
.python-button {
  width: 144px;
  box-sizing: content-box;
  padding: 2px;
  border: 10px red;
  background-color: orange;
}
.htmlCSS-button {
  width: 198px;
  height: 110px;
  box-sizing: content-box;
  padding: 2px;
  border: 10px red;
  background-color: orange;
}
.JavaScript-button {
  width: 210px; 
  box-sizing: content-box;
  padding: 2px;
  border: 10px red;
  background-color: orange;
}
.site-button {
  font-size: 50px;
  text-align: center;
}
.python-button,
.JavaScript-button {
  height: 55px;
}
.code {
  font-family: 'space mono', monospace;
  font-size: 40px;
}
.prompt {
  color: DarkRed;
  font-family: "space mono", monospace;
}
.keyword {
  color: orange;
  text-decoration: underline;
}
.menu-button {
	text-align: center;
	width: 97%;
	box-sizing: content-box;
	padding: 2px;
	background-color: orange;
	position: fixed;
}
/*classes and tags*/
.sidebar a {
  font-size: 100px;
  color: blue;
}
th.rt,
td.rt {
  border-style: solid solid none solid;
}

html.setup {
  background-color: purple;
  background-size: 100%;
}
li.python-heading,
li.htmlCSS-heading,
li.JS-heading {
  font-size: 50px;
  color: brown;
}
li.python-object,
li.htmlCSS-object,
li.JS-object {
  font-size: 30px;
  color: brown;
}
/* IDs */
#bt {
  border-style: solid none solid solid;
}
/* IDs and tags */
/* colons */
a:hover {
  color: red;
}
/* maintenance popup */
#maintenanceBanner {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#maintenanceBanner a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeMaintenanceBanner {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeMaintenanceBanner:hover {
    color: #FFF;
}
#maintenanceBanner a.maintenanceBannerOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#maintenanceBanner a.maintenanceBannerOK:hover {
    background-color: #E0C91F;
}
